<script src='https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js'></script>
<script type="text/javascript">
  window.scannerPath = location.protocol + "//" + location.host + "{{scannerPath}}"
  console.log('window.scannerPath', window.scannerPath)
</script>
<script src="js/index.js"></script>

<div style="height: 100vh" class="valign-wrapper">
  <div class="container">
    <div class="center-align">
      <h1 class="title amber-text darken-4">
        {{title}}
      </h1>
      <p class="amber-text darken-1">Scan QR Code below</p>
      
      <div 
        id="arcode-container" 
        class="scale-transition scale-out">
      </div>
    </div>
  </div>
</div>